@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND */
.paragraph {
  @apply mb-6 text-left text-lg;
}

.subheading {
  @apply mb-3 mt-10 text-base uppercase text-gray-500;
}

.heading2 {
  @apply mb-4 text-3xl font-bold;
}

/** MANUAL CSS **/

.profile-image {
  max-width: 100%;
  max-height: 450px;
  width: auto;
  height: auto;
}
