/* This overrides the browsers default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

main {
  width: 1280px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

/* Heading styles */
h1 {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 20px; /* I know this is small, but this is mainly for the logotype */
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 50px;
}

h3 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18pt;
}

/* Styling for blocks */
header {
  background: #fff;
  box-shadow: 0px 4px 15.3px 0px rgba(0, 0, 0, 0.05);
  height: 90px;
  width: 100%;
  position: fixed;
  display: block;
  padding: 15px 0px 15px 0px;
}

nav {
  float: right;
}

.logo_type {
  float: left;
  margin: 15px 0px 0px 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.hero_image {
  background-image: url('../assets/homepage_banner_full.jpeg');
  background-color: linear-gradient(rgb(255, 119, 230), rgb(168, 46, 255));
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin: 50 auto 50 auto;
  padding: 150px 0 0 50px;
}

.about p {
  max-width: 550px;
  padding-top: 20px;
}

#tech {
  display: flex;
  flex-direction: row;
}

.blog_post {
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog_post img {
  width: 400px;
  height: auto;
}

.blog_content {
  max-width: 400px;
}
.blog_content h4 {
  padding: 15px 0px 5px 0px;
}

.date {
  color: grey;
  padding-bottom: 15px;
}

.blog_content p {
  padding-bottom: 15px;
}

footer {
  height: 50px;
  padding-top: 15px;
  background-color: rgba(251, 174, 226, 0.18);
}

footer p {
  text-align: center;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
