/* This overrides the browsers default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Font classes */

.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Heading styles */
h1 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 50px;
}

h3 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20pt;
  padding: 20px 0px 10px 0;
}

li {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20pt;
  padding: 20px 0px 10px 0;
}

/* Styling for blocks */
body {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 50%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 100px;
}

/* Navigation & Header */
header {
  background: #fff;
  box-shadow: 0px 4px 15.3px 0px rgba(0, 0, 0, 0.05);
  height: 90px;
  width: 100%;
  position: fixed;
  display: block;
  padding: 15px 0px 15px 0px;
}

nav {
  float: right;
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

li a {
  font-weight: 600;
}

li a:hover {
  color: rgb(143, 0, 196);
}

.logo_type a {
  float: left;
  margin: 15px 0px 0px 30px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 28px;
  font-style: normal;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-right: 30px;
}

nav ul li {
  margin: 0px 10px 0px 20px;
}

/* Homepage Banner */
.hero_image {
  background-image: url('../assets/homepage_banner_full.jpeg');
  background-color: linear-gradient(rgb(255, 119, 230), rgb(168, 46, 255));
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin: 50 auto 50 auto;
  padding: 150px 0 0 0;
  width: 50%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.about p {
  max-width: 600px;
  padding-top: 20px;
}

/* Blog feature structure */
#tech {
  display: flex;
  flex-direction: row;
  padding: 80px 0px 0px 25px;
}

#core {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0px 0px 25px;
}

.blog_section {
  display: flex;
  flex-direction: row;
}

.blog_post {
  margin: 10px 30px 50px 30px;
  padding: 20px 0px 0px 0px;
  row-gap: 10px;
  column-gap: 10px;
  flex-direction: column;
}

.blog_post img {
  max-width: 100%;
  height: auto;
}

/* This is for the blog feature element content */
.blog_content {
  max-width: 400px;
}
.blog_content h4 {
  padding: 15px 0px 5px 0px;
}

.date {
  color: grey;
  padding: 0 0 15px 0;
}

.blog_content p {
  padding-bottom: 15px;
}

.blog_post a {
  color: rgb(213, 6, 134);
}

.blog_post a:hover {
  border-bottom: 1px solid rgb(213, 6, 134);
  text-decoration: none;
}

/* These are overrides for the Blog page styles */

.content_heading {
  padding: 60px 0 5px 0;
}

.content_date {
  margin: 50px 0 0 0;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18pt;
  padding: 0px;
}

li {
  margin-left: 20px;
}

figure {
  padding-top: 40px;
}

figure img {
  width: 80%;
  height: 100%;
}

figcaption {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 20pt;
  padding: 20px 0px 40px 0;
}

.bloglink {
  border-bottom: 1px solid black;
  text-decoration: none;
}

p a {
  color: rgb(213, 6, 134);
}

p a:hover {
  border-bottom: 1px solid rgb(213, 6, 134);
  text-decoration: none;
}

hr {
  margin-top: 50px;
}

/* Footer */
footer {
  height: 50px;
  padding-top: 15px;
  margin-top: auto;
  background-color: rgba(251, 174, 226, 0.18);
}

footer p {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Responsiveness - Media queries */
/* Small Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo_type {
    font-size: 18px;
    text-align: left;
  }

  nav ul li {
    visibility: hidden;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 100%;
    width: 90%;
  }

  .about h2 {
    font-size: 35px;
  }

  .blog_section {
    flex-direction: column;
  }

  .blog_post {
    margin: 5px 30px 50px 30px;
    padding: 10px 0px 0px 0px;
  }

  main {
    width: 90%;
  }

  #tech {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 0px;
  }

  .content_heading {
    padding-top: 20px;
  }

  #core {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 0px;
  }
}

/* Large Mobile */
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .logo_type {
    font-size: 28px;
  }

  .about {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding-right: 40px;
  }

  .about h2 {
    font-size: 40px;
  }

  .blog_section {
    flex-direction: column;
    align-items: center;
  }

  .blog_post {
    margin: 5px 30px 50px 30px;
    padding: 10px 0px 0px 0px;
  }

  .content_heading {
    padding-top: 20px;
  }

  main {
    width: 90%;
  }

  #tech {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 0px;
  }

  #core {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 0px;
  }
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
  }

  .blog_section {
    flex-direction: row;
    align-items: first baseline;
  }

  .blog_post {
    margin: 5px 30px 20px 30px;
    padding: 10px 0px 0px 0px;
  }

  main {
    width: 90%;
  }

  #tech {
    flex-direction: column;
    text-align: center;
    padding: 30px 0px 15px 0px;
  }

  #core {
    flex-direction: column;
    text-align: center;
    padding: 30px 0px 15px 0px;
  }
}

/* Small Desktop */
@media only screen and (min-width: 1024px) and (max-device-width: 1500px) {
  .about {
    width: 80%;
  }

  main {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .blog_section {
    flex-direction: row;
    align-items: first baseline;
  }

  .blog_post {
    margin: 5px 30px 20px 30px;
    padding: 10px 0px 0px 0px;
  }

  #tech {
    flex-direction: column;
    padding: 30px 0px 15px 30px;
  }

  #core {
    flex-direction: column;
    padding: 30px 0px 15px 30px;
  }
}
