/* This overrides the browsers default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Font classes */

.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Heading styles */
h1 a {
  color: #000;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 28px; /* I know this is small, but this is mainly for the logotype */
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 50px;
}

h3 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18pt;
}

/* Styling for blocks */
body {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 50%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

header {
  background: #fff;
  box-shadow: 0px 4px 15.3px 0px rgba(0, 0, 0, 0.05);
  height: 90px;
  width: 100%;
  position: fixed;
  display: block;
  padding: 15px 0px 15px 0px;
}

nav {
  float: right;
}

a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

li a {
  font-weight: 600;
}

li a:hover {
  color: blue;
}

.logo_type a {
  float: left;
  margin: 15px 0px 0px 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 15px 5px 0px 5px;
  padding-right: 50px;
}

/* Homepage Banner */
.hero_image {
  background-image: url('../assets/homepage_banner_full.jpeg');
  background-color: linear-gradient(rgb(255, 119, 230), rgb(168, 46, 255));
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin: 50 auto 50 auto;
  padding: 150px 0 0 30px;
  width: 50%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.about p {
  max-width: 600px;
  padding-top: 20px;
}

/* Blog structure */
#tech {
  display: flex;
  flex-direction: row;
  padding: 80px 0px 0px 25px;
}

#core {
  display: flex;
  flex-direction: row;
  padding: 50px 0px 0px 25px;
}

.blog_section {
  display: flex;
  flex-direction: row;
}

.blog_post {
  margin: 10px 30px 50px 30px;
  padding: 20px 0px 0px 0px;
  row-gap: 10px;
  column-gap: 10px;
  flex-direction: column;
}

.blog_post img {
  max-width: 100%;
  height: auto;
}

/* This is for the text parts of the blog element */
.blog_content {
  max-width: 400px;
}
.blog_content h4 {
  padding: 15px 0px 5px 0px;
}

.date {
  color: grey;
  padding-bottom: 15px;
}

.blog_content p {
  padding-bottom: 15px;
}

.blog_post a {
  color: violet;
}

a:hover {
  color: black;
}

/* Footer */
footer {
  height: 50px;
  padding-top: 15px;
  margin-top: auto;
  background-color: rgba(251, 174, 226, 0.18);
}

footer p {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Responsiveness - Media queries */
/* Small Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo_type {
    font-size: 20px;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
  }

  nav ul li {
    margin: 18px 0px 0px 5px;
    padding-right: 18px;
  }

  .about {
    width: 100%;
    padding: 150px 40px 0 50px;
  }

  .about h2 {
    font-size: 40px;
  }

  .blog_section {
    flex-direction: column;
  }

  .blog_post {
    margin: 5px 30px 50px 30px;
    padding: 10px 0px 0px 0px;
  }

  main {
    width: 100%;
  }

  #tech {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 0px;
  }

  #core {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 0px;
  }
}

/* Large Mobile */
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .logo_type {
    font-size: 28px;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
  }

  nav ul li {
    margin: 20px 0px 0px 5px;
    padding-right: 20px;
  }

  .about {
    width: 100%;
    padding: 150px 40px 0 50px;
  }

  .about h2 {
    font-size: 40px;
  }

  .blog_section {
    flex-direction: column;
  }

  .blog_post {
    margin: 5px 30px 50px 30px;
    padding: 10px 0px 0px 0px;
  }

  main {
    width: 100%;
  }

  #tech {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 0px;
  }

  #core {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 0px 0px;
  }
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav ul li {
    margin: 18px 10px 0px 5px;
    padding-right: 15px;
  }

  .about {
    width: 100%;
    padding: 150px 40px 0 50px;
  }

  .blog_section {
    flex-direction: row;
  }

  .blog_post {
    margin: 5px 30px 20px 30px;
    padding: 10px 0px 0px 0px;
  }

  main {
    width: 100%;
  }

  #tech {
    flex-direction: column;
    text-align: center;
    padding: 30px 0px 15px 0px;
  }

  #core {
    flex-direction: column;
    text-align: center;
    padding: 30px 0px 15px 0px;
  }
}

/* Small Desktop */
@media only screen and (min-width: 1024px) and (max-device-width: 1500px) {
  nav ul li {
    margin: 18px 10px 0px 5px;
    padding-right: 15px;
  }

  .about {
    width: 100%;
    padding: 150px 40px 0 30px;
  }

  main {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .blog_section {
    flex-direction: row;
  }

  .blog_post {
    margin: 5px 30px 20px 30px;
    padding: 10px 0px 0px 0px;
  }

  #tech {
    flex-direction: column;
    padding: 30px 0px 15px 30px;
  }

  #core {
    flex-direction: column;
    padding: 30px 0px 15px 30px;
  }
}
